@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #059669;
  /* Emerald-600 */
  --color-primary-light: #34D399;
  /* Emerald-400 */
  --color-primary-dark: #065F46;
  /* Emerald-800 */

  --color-secondary: #D1FAE5;
  /* Emerald-100 */
  --color-secondary-light: #ECFDF5;
  /* Emerald-50 */

  --color-accent: #0EA5E9;
  /* Sky-500 */
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans;
  }
}

.glass-morphism {
  @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-lg;
}